{% extends "Royalemp_commerce/main.html" %}
{% load static %}

{% block content %}
    <div class="mt-14 px-12 text-2xl ">
        <h3>
            views 
        </h3>
    </div>
    <div class="">
        <div class="border shadow-2xl lg:mx-48 md:mx-32 mt-12 justify-center flex bg-gray-50 bg-y=gray ">
            <div class="flex items-center justify-between px-24  ">
                <div class=" ">
                    <div class="py-12 p-12 ">
                        <img src="{% static 'img/placeholder.png' %}" alt="placeholder" class="h-48 border p-12 shadow-md object-contain ">
                    </div>
                </div>
                <div class="px-48 font-semibold ">
                    <span class="block">
                        Name:Watch
                    </span>
                    <span class="">
                        
                    </span>
                    <span class="">
                        Price: $ 400
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}