{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <!-- <script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script> -->
    <script src="{%static 'js/htmx.js' %}" ></script>
    <script src="{%static 'js/htmx.min.js' %}" ></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.6.1"></script> -->
    <!-- <script src="{% static 'js/jqery.js' %}"></script> -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <title>Royalempire | home</title>
</head> 
<body class="px-6 bg-gray-50" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >
    <header>
        {% include "Royalempire_app/header.html" %}
    </header>
    <div class="py-1 px-1">{{page_obj}}</div>
    <div class="">
        <div class="" id="submit_report"></div>
        <form action="" method="post" id="available_items_form" enctype=multipart/form-data >
            {% csrf_token %}
            <div class="flex gap-6 border px-12 py-3 mb-3 bg-white justify-center shadow items-center ">
                <div class="py-3">
                    <div class="" id="check_section"></div>
                    <input type="text" name="item_name" id="item_name" class="hover:bg-gray-300 bg-gray-50 px-2 shadow-sm  outline-none" placeholder="enter item name" hx-post="check_field" hx-trigger="keyup delay:1s" hx-target="#check_section">
                </div>
                <div class="py-2">
                    <select name="item_color" id="item_color">
                        <option value="blue" class=" px-6 text-gray-50 bg-blue-600">blue</option>
                        <option value="yellow" class=" px-6 text-gray-50 bg-yellow-600">yellow</option>
                        <option value="white" class=" px-6 text-gray-800 bg-white">white</option>
                        <option value="black" class=" px-6 text-gray-50 bg-black">black</option>
                        <option value="green" class=" px-6 text-gray-50 bg-green-600">green</option>
                    </select>
                </div>
                <div class="py-2">
                    <input type="file" name="item_img" id="">
                </div>
                <div class="">
                    <input type="submit" name="submit" value="submit" class="px-2 py-1 rounded-md rounded hover:bg-blue-400 bg-blue-300 hover:text-gray-50 shadow hover:shadow-md cursor-pointer" hx-post="{% url 'items_add' %}" hx-trigger="click" hx-target="#pagination">
                </div>
            </div>
        </form>
    </div>
    <div class="bg-white flex gap-10 grid-col- px-12 mx- " >
        {% for items in page_obj %}
            <div class=" ">
                <!-- pagination image section -->
                <div class="justify-center border flex mt-3 gap-12 py-2 " id="display_section">
                    <div class="">
                        <div class="h-4/6 " >
                            <img src="{{ items.item_img.url }}" alt="" class="w-52">
                        </div>
                    </div>
                    <div class="justify-center block items-center mt-48">
                        <div class="">
                            item: {{ items.item_name }}
                        </div>
                        <div class="text-{{ items.item_color }}-600 ">
                            color: {{ items.item_color }}
                        </div>
                        <div class="">
                            date added: {{ items.date_added }} 
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- search section -->
        <div class="justify-center self-self py-3 ">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" 
                    class="border outline-none focus:border-yellow-100 px-2 "
                    hx-post="{% url 'search_sect' %}"
                    hx-trigger="keyup changed delay:300ms" 
                    hx-target="#search_result"
                    name="search"
                    placeholder="search"
                />
                <!-- <button type="submit" 
                    class="text-gray-500 bg-yellow-100 px-1
                        shadow-sm hover:shadow-md hover:bg-yellow-200
                        hover:text-gray-700">
                        search
                </button> -->
            </form>
            <!-- search results display -->
            <form method="post">
                {% comment %} <input type="submit" value="" id="search_result"> {% endcomment %}
                <div class="self-center justify-end block mt-3" id="search_result"></div>
            </form>
        </div>
        <!--cart section-->
        <div>
            <button class="border-2 shadow p-1 hover:shadow-xl outline:none">
                <img src="{% static 'img/add_cart.png' %}" alt="cart" class="h-8">
            </button>
        </div>
    </div>
    <!-- </div> -->
    
    <!-- pagination section -->
    <div class="" id="pagination">
        {% include "Royalempire_app/pagination.html" %}
    </div>

<style>
    .success{
        transition: all ease 0.5s;
    };
    .error{
        /*transform: rotate(45deg);*/
        transition: all ease-in 0.5s;
    }
</style>

</body>
</html>