{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <title>Royal-epire | Landing page</title>
</head>
<body class="  ">
<!-- <body class="bg-gradient-to-bl from-gray-500 to-green-200  "> -->
    <header class="  ">
        <nav class="py-6 border bg-gray-700 ">
            <div class="flex md:gap-60 px-6 gap-24 text-gray-50 items-center ">
                <div class="">
                    <div class="shadow-2xl rounded-tl-2xl rounded-br-2xl  shadow-2xl bg-gradient-to-tl from-yellow-300 to-green-300 text-gray-900 p-2 text-xs  ">
                        Royal
                    </div>
                    <div class="-mt-14 rounded-tl-2xl rounded-br-2xl  shadow-2xl bg-gradient-to-tl from-yellow-300 to-green-300 text-gray-900 p-2 text-xs  ">
                        empire
                    </div>
                </div>
                <div class="md:flex gap-12 justify-center hidden  ">
                    <div class="border px-2 py-1">
                        lorem
                    </div>
                    <div class="border px-2 py-1">
                        lorem
                    </div>
                    <div class="border px-2 py-1">
                        lorem
                    </div>
                    <div class="border px-2 py-1">
                        lorem
                    </div>
                </div>
                <div class="flex gap-10 ">
                    <div class="">
                        Signup
                    </div>
                    <div class="">
                        Login
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- <section id='Hero' class="text-center text-5xl py-60 bg-transparent "> -->
    <section id='Hero' class="text-center text-2xl py-48 bg-gradient-to-tr from-yellow-100 to-green-200   ">
        <div class="grid grid-cols-2  ">
            <div class="bg-opacity-25 bg-gray-50 py-24">
                lorem
            </div>
            <div class="bg-opacity-25 bg-red-200 py-12">
                <img src="{% static 'img/Wavy_Buddies-Delivering.png' %}" alt="" class="h-6/6">
            </div>
        </div>
    </section>
    <section id="about De-RoyalEmpire " class="py-6 bg-gradient-to-tl from-green-100 to-white  ">
        <div class="text-center text-5xl">
            About De-Royal Empire
        </div>
        <div class="py-6 ">
            <div class="px-14 justify-center "> 
                <span class="text-lg md:text-xl px-12  ">
                    <span class="text-center">
                        De-Royal Empire is a conglomerate centered on giving enterpeneurs an image and a voice on the online space.
                    </span>
                    <span class="text-left ">
                        This is achieved with the collaboration of an excellent team of 
                    </span>
                </span>
            </div>
        </div>
    </section>
    <section class="service text-center text-3xl bg-green-200 py-12 bg-opacity-25 ">
        <div class="md:grid grid-cols-4 gap-4 md:px-3 px-12 grid-row-2 shadow-inner-2xl ">
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/store_front.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Branding experts
                    </div>
                </div>
            </div>
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/store_front.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Graphic designers
                    </div>
                </div>
            </div>
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/store_front.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Web design
                    </div>
                </div>
            </div>
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/added_cart.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Copywriters
                    </div>
                </div>
            </div>
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/added_cart.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Photographers
                    </div>
                </div>
            </div>
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/added_cart.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Video creators
                    </div>
                </div>
            </div>
            <div class="py-8 bg-white bg-opacity-25 shadow-md px-3 border-t mt-12 hover:shadow-4xl  ">
                <div class="py-12 bg-red-50 bg-opacity-25 shadow-2xl rounded-b-3xl hover:shadow-3xl hover:cursor-pointer ">
                    <div class="-mt-24 p-3 rounded-2xl rounded-t bg-gray-200 shadow-xl  ">
                        <img src="{% static 'img/added_cart.png' %}" alt="" class="rotate-45">
                    </div>
                    <div class="text-gray-500 py-10  ">
                        Social media mangers.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about_continue" class="px-24 py-6 text-center md:text-lg text-md ">
        <span>
            Our services also includes business consultations required to help build businesses from idea to reality, 
            business registration and google my business registration.
        </span>
        <span>
            Amongst all these, we have a platform where we train people across across various skills.
        </span>
        <span>
            De-Royal empire is home to an online and physical market place where different goods are sold. 
            Here, businesses collaborate with us to sell their goods on both our online and physical store.
        </span>
    </section>
    <section class="">
        <div class="block md:grid grid-cols-3 gap-3 px-4 py-2 justify-center items-center  ">
            <div class="grid-cols-2 block shadow p-4">
                <div class="">
                    <img src="{% static 'img/website-designer-bro.svg' %}" alt="" class="h-6/6">
                </div>
                <div class="">
                    Lorem ipsum dolor sit amet consectetur, 
                    adipisicing elit. Voluptate, dolore,
                    ea voluptas dolorem repudiandae maiores 
                </div>
            </div>
            <div class="">
                col2
            </div>
            <div class="">
                col2
            </div>
        </div>
    </section>
    <div class="px-4 mt-12 text-2xl ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptatum, cum deserunt accusamus provident asperiores id itaque laudantium ducimus accusantium voluptatibus, quas eius velit, aut officia libero commodi! Nemo, accusantium.
    </div>
    <footer class="mt-6 ">
        <div class="py-8 bg-gray-600 text-gray-50 text-center ">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eveniet, deserunt assumenda! Commodi voluptatem iusto beatae cum libero
        </div>
    </footer>
</body>
</html>